In [1]:
#Colab users uncomment this code
#Files for this notebook are Energy Indicators.xls and world_bank.csv

In [2]:
"""
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
"""

'\n!pip install -U -q PyDrive\nfrom pydrive.auth import GoogleAuth\nfrom pydrive.drive import GoogleDrive\nfrom google.colab import auth\nfrom oauth2client.client import GoogleCredentials\n'

In [3]:
"""
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)
"""

'\nauth.authenticate_user()\ngauth = GoogleAuth()\ngauth.credentials = GoogleCredentials.get_application_default()\ndrive = GoogleDrive(gauth)\n'

In [4]:
"""
downloaded = drive.CreateFile({'id':'1R9vW5dmox7i8OGOoDql_r9yUrvAJgvhD'}) # replace the id with id of file you want to access
downloaded.GetContentFile('Energy Indicators.xls')
"""

"\ndownloaded = drive.CreateFile({'id':'1R9vW5dmox7i8OGOoDql_r9yUrvAJgvhD'}) # replace the id with id of file you want to access\ndownloaded.GetContentFile('Energy Indicators.xls')\n"

In [5]:
"""
downloaded = drive.CreateFile({'id':'1R9vW5dmox7i8OGOoDql_r9yUrvAJgvhD'}) # replace the id with id of file you want to access
downloaded.GetContentFile('world_bank.csv')
"""

"\ndownloaded = drive.CreateFile({'id':'1R9vW5dmox7i8OGOoDql_r9yUrvAJgvhD'}) # replace the id with id of file you want to access\ndownloaded.GetContentFile('world_bank.csv')\n"

# PANDAS ASSIGNMENT (100)
<hr style="height:5px;border-width:2;color:gray">

In this assignment you'll be handling two datasets, <code>Energy Indicators.xls</code> and <code>world_bank.csv</code> and answering some questions.<br><br>
<b>Grading:</b>
<ul>
    <li>Each question has the corresponding total marks next to it.</li>
    <li>Each question will be graded on <b>final answer (60%)</b> and <b>conciseness of code (40%)</b>.</li>
    <li>There is no partial marking for final answer but there is partial marking for conciseness of code</li>
    <li>The total marks will be scaled down later on as per requirement.</li>
</ul><br>
<b>Write your code in the given empty cells</b>

In [6]:
import pandas as pd
import numpy as np

## Loading and Cleaning the Data (50)
<div class="alert alert-block alert-warning">
    <b>Note that this is the most important part of this assignment as without successfully loading and cleaning the data, future questions cannot be answered.</b>
</div>

#### Energy Indicators data ( 6 X 5 = 30)
<b>Instructions</b>:
<ol>
    <li>Load the <b>excel file</b> <code>Energy Indicators.xls</code> into dataframe called <code>energy</code>.</li>
    <li>Make sure to exclude header and footer information from the datafile.</li>
    <li>The first two columns are unecessary and hence get rid of them.</li>
    <li>Change the remaining column names to <code>['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']</code>.</li>
    <li>The Energy Supply is in petajoule. Covert it to gigajoule. (1 petajoule = 1,000,000 gigajoule)</li>
    <li>Rename the following list of countries:
        <ul>
        <li>"Republic of Korea" : "South Korea"</li>
        <li>"United States of America" : "United States"</li>
        <li>"United Kingdom of Great Britain and Northern Ireland" : "United Kingdom"</li>
        <li>"China, Hong Kong Special Administrative Region" : "Hong Kong"</li>
        </ul>
    </li>
</ol>
<div class="alert alert-block alert-info">
    <b>Hint</b>: <code>energy</code> dataframe has 227 rows and 4 columns.
</div>

In [7]:
energy = pd.read_excel("Energy Indicators.xls")
energy = energy.iloc[17:244 ,2:6].reset_index().drop(columns = ["index"])
energy.rename(columns = {'Unnamed: 2':'Country' , 'Unnamed: 3':'Energy Supply' , 'Unnamed: 4':'Energy Supply per Capita' , 'Unnamed: 5':'% Renewable'} , inplace = True)
energy = energy.replace('...',np.NaN)
energy["Energy Supply"] = energy["Energy Supply"]*1000000
CountryRename = {"Republic of Korea" : "South Korea","United States of America" : "United States","United Kingdom of Great Britain and Northern Ireland" : "United Kingdom","China, Hong Kong Special Administrative Region" : "Hong Kong"}
energy = energy.replace(CountryRename)
energy

,Country,Energy Supply,Energy Supply per Capita,% Renewable
0,Afghanistan,3.210000e+08,10.0,78.669280
1,Albania,1.020000e+08,35.0,100.000000
2,Algeria,1.959000e+09,51.0,0.551010
3,American Samoa,NaN,NaN,0.641026
4,Andorra,9.000000e+06,121.0,88.695650
...,...,...,...,...
222,Viet Nam,2.554000e+09,28.0,45.321520
223,Wallis and Futuna Islands,0.000000e+00,26.0,0.000000
224,Yemen,3.440000e+08,13.0,0.000000
225,Zambia,4.000000e+08,26.0,99.714670
226,Zimbabwe,4.800000e+08,32.0,52.536120

#### GDP Data (10)
<b>Instructions: </b><br>
<ol>
    <li>Load the <b>csv file</b> <code>world_bank.csv</code> into a dataframe called <code>GDP</code>.</li>
    <li>Skip the headers.</li>
    <li>The GDP dataframe must only have the columns of country name and GDP of years 2006-2015 (both inclusive)</li>
    <li>Rename the following list of countries:</li>
    <ul>
        <li>"Korea, Rep.": "South Korea"</li>
        <li>"Iran, Islamic Rep.": "Iran"</li>
        <li>"Hong Kong SAR, China": "Hong Kong"</li>
    </ul>
</ol>
<div class="alert alert-block alert-info">
    <b>Hint</b>: <code>GDP</code> dataframe has 264 rows and 11 columns.
</div>

In [8]:
GDP = pd.read_csv("world_bank.csv" , skiprows=4)
GDP.drop(GDP.columns[1:50] , axis = 1 , inplace = True)
CountryRename = {"Korea, Rep.": "South Korea" , "Iran, Islamic Rep.": "Iran" , "Hong Kong SAR, China": "Hong Kong"}
GDP

,Country Name,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,NaN,NaN,NaN,NaN,2.467704e+09,NaN,NaN,NaN,NaN,NaN
1,Andorra,4.018196e+09,4.021331e+09,3.675728e+09,3.535389e+09,3.346317e+09,3.185605e+09,3.129538e+09,3.127550e+09,NaN,NaN
2,Afghanistan,1.030523e+10,1.172119e+10,1.214448e+10,1.469733e+10,1.593680e+10,1.691113e+10,1.935220e+10,1.973134e+10,1.999032e+10,2.029415e+10
3,Angola,5.581103e+10,6.842044e+10,7.787420e+10,7.975320e+10,8.247091e+10,8.570262e+10,9.012096e+10,9.626143e+10,1.008863e+11,1.039106e+11
4,Albania,9.771760e+09,1.034829e+10,1.112752e+10,1.150029e+10,1.192695e+10,1.223109e+10,1.240477e+10,1.254247e+10,1.279331e+10,1.312082e+10
...,...,...,...,...,...,...,...,...,...,...,...
259,"Yemen, Rep.",2.672565e+10,2.761787e+10,2.872656e+10,2.991436e+10,3.090675e+10,2.624342e+10,2.689160e+10,2.800914e+10,NaN,NaN
260,South Africa,3.402852e+11,3.585261e+11,3.699668e+11,3.642764e+11,3.753494e+11,3.874074e+11,3.960071e+11,4.047682e+11,4.110369e+11,4.163117e+11
261,"Congo, Dem. Rep.",1.650894e+10,1.754232e+10,1.863448e+10,1.916651e+10,2.052329e+10,2.193213e+10,2.350200e+10,2.550050e+10,2.778776e+10,2.970961e+10
262,Zambia,1.440569e+10,1.560892e+10,1.682234e+10,1.837342e+10,2.026555e+10,2.140358e+10,2.302438e+10,2.420595e+10,2.542227e+10,2.624127e+10
263,Zimbabwe,1.006276e+10,9.695130e+09,7.982103e+09,8.459783e+09,9.422161e+09,1.054391e+10,1.165789e+10,1.218064e+10,1.264939e+10,1.278517e+10

#### Merging the dataframes (10)
<b>Instructions</b>:
Merge the two dataframes into one and call it <code>energy_GDP</code> which has data pertaining to <b>countries common to both dataframes</b>. <code>energy_GDP</code> must have <b>13 columns</b> excluding the index, which should be <code>Country</code>.<br>
After this reduce the dataframe to have data pertaining the countries given in the next cell.

In [9]:
countries = ['China', 'United States', 'Japan', 'United Kingdom', 'Russian Federation', 'Canada', 'Germany', 'India', 'France', 'South Korea', 'Italy', 'Spain', 'Iran', 'Australia', 'Brazil']

In [10]:
energy_GDP = pd.merge(energy, GDP.rename(columns = {'Country Name':'Country'}), how = 'inner', on = 'Country').set_index('Country')
energy_GDP = energy_GDP.loc[energy_GDP.index.intersection(countries)]
energy_GDP.reset_index(inplace = True)
energy_GDP.rename(columns = {'index':'Country'}).set_index("Country")

,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,
Australia,5.386000e+09,231.0,11.81081,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12
Brazil,1.214900e+10,59.0,69.64803,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12
Canada,1.043100e+10,296.0,61.94543,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12
China,1.271910e+11,93.0,19.75491,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
France,1.059700e+10,166.0,17.02028,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12
Germany,1.326100e+10,165.0,17.90153,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12
India,3.319500e+10,26.0,14.96908,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12
Italy,6.530000e+09,109.0,33.66723,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12
Japan,1.898400e+10,149.0,10.23282,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
Russian Federation,3.070900e+10,214.0,17.28868,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12
Spain,4.923000e+09,106.0,37.96859,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12
United Kingdom,7.920000e+09,124.0,10.60047,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12
United States,9.083800e+10,286.0,11.57098,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13

## Questions (50)

#### 1. What is the average GDP over the last 10 years for each country? (exclude missing values from this calculation.) (5)
(Your answer should be a series in <b>descending order</b> by average GDP)

In [11]:
mean_GDP = energy_GDP.iloc[:,3:13].apply(lambda x : x.mean() , axis = 1)
mean_GDP.sort_values(ascending = False  , inplace = True)
mean_GDP

12    1.370949e+13
3     5.468809e+12
8     4.975251e+12
5     3.124470e+12
4     2.405606e+12
11    2.221273e+12
1     1.957852e+12
7     1.915244e+12
6     1.532577e+12
2     1.481387e+12
9     1.403845e+12
10    1.276096e+12
0     1.033918e+12
dtype: float64

#### 2. By how much has the GDP changed over the 10 year span for the country with the 6th largest average GDP? (5)
(Your answer should be a single number)

In [12]:
Country6 = mean_GDP.index[5]
energy_GDP.loc[Country6 , "2015"] - energy_GDP.loc[Country6 , "2006"]

246702696075.3999

#### 3. What country has the maximum % Renewable and what is the percentage? (10)
(Your answer should be a python tuple coontaining country name and its % Renewable)

In [13]:
(energy_GDP["% Renewable"].idxmax() , energy_GDP["% Renewable"].max())

(1, 69.64803)

#### 4(i). Create a column that estimates the population using Energy Supply and Energy Supply per capita. (5)
<div class="alert alert-block alert-warning">
    <b>Note: </b>You should convert the population estimation by energy to np.float64 format.
</div><br>
(Your answer should be the first five rows of a dataframe)

In [14]:
energy_GDP["Population Estimate"] = (energy_GDP["Energy Supply"]/energy_GDP["Energy Supply per Capita"]).astype(np.float64)
energy_GDP.set_index("index" , inplace = True)
energy_GDP

,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,Population Estimate
index,,,,,,,,,,,,,,
Australia,5.386000e+09,231.0,11.81081,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12,2.331602e+07
Brazil,1.214900e+10,59.0,69.64803,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12,2.059153e+08
Canada,1.043100e+10,296.0,61.94543,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12,3.523986e+07
China,1.271910e+11,93.0,19.75491,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12,1.367645e+09
France,1.059700e+10,166.0,17.02028,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12,6.383735e+07
Germany,1.326100e+10,165.0,17.90153,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12,8.036970e+07
India,3.319500e+10,26.0,14.96908,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12,1.276731e+09
Italy,6.530000e+09,109.0,33.66723,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12,5.990826e+07
Japan,1.898400e+10,149.0,10.23282,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12,1.274094e+08
Russian Federation,3.070900e+10,214.0,17.28868,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12,1.435000e+08
Spain,4.923000e+09,106.0,37.96859,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12,4.644340e+07
United Kingdom,7.920000e+09,124.0,10.60047,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12,6.387097e+07
United States,9.083800e+10,286.0,11.57098,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13,3.176154e+08

#### 4(ii). What is the third most populous country according to this? (5)
(Your answer should be a single string)

In [15]:
PopulousCountriesOrder = energy_GDP["Population Estimate"]
PopulousCountriesOrder.sort_values(ascending = False).index.values[2]

'United States'

#### 5. Create a series with country as index and value 1 if the country's % Renewable is above the median % Renewable of the 15 countries and 0 otherwise. (5)
(Your answer should be a series)

In [16]:
median_val = energy_GDP["% Renewable"].median()
RenewablePercAbovMed = pd.Series((energy_GDP["% Renewable"] > median_val)*1 , index = energy_GDP.index.values)
RenewablePercAbovMed

Australia             0
Brazil                1
Canada                1
China                 1
France                0
Germany               1
India                 0
Italy                 1
Japan                 0
Russian Federation    0
Spain                 1
United Kingdom        0
United States         0
Name: % Renewable, dtype: int64

#### 6. Summary of continents (15)
Group the countries by continent and display the following data for each continent: (All data regarding the given 15 countries)
<ul>
    <li><b>size</b>: The number of countries in this continent</li>
    <li><b>sum</b>: Total population estimate of this continent</li>
    <li><b>mean</b>: Mean country population in this continent</li>
    <li><b>std</b>: Standard deviation of country population in this continent</li>
</ul>
Use the dictionary in the next cell to assign corresponding continent to each country.<br>
(Your answer should be  a dataframe with index named Continent <code>['Asia', 'Australia', 'Europe', 'North America', 'South America']</code> and columns <code>['size', 'sum', 'mean', 'std']</code> and it will have two <code>NaN</code>)

In [17]:
continents = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}

In [18]:
Continents_df=energy_GDP['Population Estimate'].groupby(continents).agg(['size','sum','mean','std'])
Continents_df

               size           sum          mean           std
Asia              3  2.771785e+09  9.239284e+08  6.913019e+08
Australia         1  2.331602e+07  2.331602e+07           NaN
Europe            6  4.579297e+08  7.632161e+07  3.464767e+07
North America     2  3.528552e+08  1.764276e+08  1.996696e+08
South America     1  2.059153e+08  2.059153e+08           NaN